
.margenContacto{
    height: 24%;
}
.hamburg{
    display: none;
}

/*-------------------------------------------contacto---*/

/*--mi estilo de contacto--*/
.contacto{
    width: 80%;
    min-height: 95vh;
    padding: 5rem 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 45rem;
    grid-template-rows: 49rem;
    gap: 2.2rem;
}
.contacto1{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}
.contacto1 h4{
    font-size: 3.1rem;
    line-height: 6rem;
    font-weight: 400;
    margin: 6rem 0 2rem 0;
    color: black;
}
.contacto1 h5{
    font-size: 2rem;
    font-style: italic;
    font-family: var(--fuente);
    letter-spacing: 2px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.contacto1 p{
    font-size: 1.55rem;
    font-family: var(--fuente3);
}
.contactotelefono{
    display: flex;
    align-items: center;
    width: 95%;
}
.contactotelefonotelefono{
    color: black;
    font-weight: bold;
    border-left: 2px solid white;
}
.contactotelefono img{
    width: 3rem;
    margin: 1rem;
}
.contactotelefonoultimo{
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.contacto1 .seguinosredes{
    margin: 0;
    font-size: 2rem;
    line-height: 6rem;
    font-weight: 400;
}
.contactoContenido{
    font-weight: 500;
    margin-left: 1rem;
}
/*------*/
.contactoredes{
   /* width: 60%; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactoredes .face{
  /*  color: #0572e6;*/
  color: black;
}
.contactoredes .insta{
  /*  color: #ed6039;*/
  color: black;
}
.contactoredes .twit{
   /* color: #1da1f2;*/
   color: black;
}
.contactoredes .pint{
   /* color: #c2191e;*/
   color: black;
}
.contactoredes .wap{
   /* color: #1bd741;*/
   color: black;
    font-weight: 600;
}
.contactoredes span{
    font-size: 2.4rem;
    margin: 0 1rem 0 0; 
}

/*---FORMULARIO DE CONTACTO---*/

.formulariohijo{
    display: flex;
    flex-direction: column;
 }
 .formulariohijo h2{
     font-size: 3em;
     padding: .5em;
     text-align-last: center;
 }
 .inPut,textarea{
     margin-bottom: 1.8em;
     padding: .75em;
     font-size: 1.2em;
     border: none;
    border-bottom: 1px solid grey;
 }
 textarea{
     min-height: 15em;
     max-height: 17em;
     max-width: 100%;
     min-width: 100%;
 }
 .submit{
     font-size: 1.6em;
     color: white;
     font-weight: bold;
     background-color: #0d47a1;
     cursor: pointer;
 }
 
 /*---MENSAJE GRACIAS---*/
 .mensajeGracias{
    width: 60%;
    margin: auto;
    display: none;
 }
 .mensajeGracias p{
    text-align: center;
    padding: 1rem;
    background: lightgreen;
    font-size: 2rem;
    margin-top: 3rem;
 }
/*---fn del formulario---*/
b{
    color: red;
    font-size: 14px;
    padding: 1rem 0;
}
.areaTexto{
    font-size: 1.6rem;
}


